body{
	font-family: sans-serif;
	font-size: 1em;
	color:#black;
	margin-top: 2%;
	justify-content:center;
	background-image: url('https://cdn.pixabay.com/photo/2014/10/23/10/10/dollars-499481_960_720.jpg');
	min-height: 400px;
	background-color:#13f053;
	background-size:100%;
	background-position: bottom right;
	background-repeat: no-repeat;
	background-attachment: fixed;
	
	
}
	h2{
		background-color:#13f053;
		color: #ffffff;
		position: absolute;
		font-size: 25px;
		font-weight:bold;
		top: 550px;
		width:300px;
		left:calc(50% - 150px);
		text-align: center;
		border-radius: 10px;
	}
	
	h2:hover{
		background-color:green;
	}
		.cot {
			background-color:black;
			color:#black;
			top:165px;
		}
		
		
		.container{
			border: 2px solid #13f053;
			border-radius: 15px;
			text-align:center;
			height:100vh;
			padding: 50px;
			background:#ffffff;
			width:500px;
			margin:auto;
		
		}
		
		.page-title{
			color:#13f053;
			margin: 0 0 10px;
			background-color: #ffffff;
			font-size: 50px;
			width:100%;
		}
		
		.page-subtitle {
			color:#13f053;
			margin-top: 5px;
			font-size: 25px;
			background-color:#ffffff;
			
		}
		
		.button-title1{
			color:#13f053;
			background-color: #ffffff;
			font-size: 25px;
		}
		.dolar{
			color:#13f053;
			background-color:#ffffff;
			font-size: 20px;
		}
		.dolar2{
			color:black;
			border: 2px solid #13f053;
			border-radius:5px;
			height: 30px;
			background-color:#d6f5c6;
			font-size: 20px;
		}
		.button1{
			font-size: 20px;
			color:black;
			border: 2px solid #13f053;
			border-radius: 5px;
			padding:5px 5px 5px 5px;
			background-color:#d6f5c6;
			cursor:pointer;
			transition: background .3s;
		}
		.button1:hover{
			background-color:green;
		}
		.real{
			color:#13f053;
			font-size:20px;
		}
		
		.real2{
			color:black;
			border: 2px solid #13f053;
			border-radius:5px;
			height:30px;
			background-color:#d6f5c6;
			font-size: 20px;
		}
		.button2 {
			font-size: 20px;
			color:black;
			border: 2px solid #13f053;
			border-radius: 5px;
			padding: 5px 5px 5px 5px;
			background-color:#d6f5c6;
			cursor:pointer;
			transition: background .3s;
		}
		
		.button2:hover{
			background-color:green;
		}
		
		.button-title2{
			color:#13f053;
			background-color: #ffffff;
			font-size: 25px;
		}
		
		.page-logo {
			width:200px;
			
		}
		
		fieldset{
			border:0;
		}